{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<section class="padding ptb-xs-40">
				<div class="container">

					<div class="row">

						<div class="col-lg-8">

							<div class="headeing pb-30">
								<h2>Get in Touch</h2>
								<span class="b-line l-left line-h"></span>
							</div>
						
							{{ form_start(form) }}
								<!-- IF MAIL SENT SUCCESSFULLY -->
								<div id="success">
									<div role="alert" class="alert alert-success">
										<strong>Thanks</strong> for using reaching out. Your message has been sent.
									</div>
								</div>
								<!-- END IF MAIL SENT SUCCESSFULLY -->
								<div class="row">
									<div class="col-lg-6">
										<div class="form-field ">
											{{ form_row(form.name) }}
										</div>
										<div class="form-field">
											{{ form_row(form.email) }}
										</div>
										<div class="form-field">
											{{ form_row(form.subject) }}
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form-field">
										{{ form_row(form.message) }}
										</div>
									</div>
									        {{ form_widget(form) }}
											<input type="submit" value="Send" class="btn btn-primary btn-lg" />
								</div>
						
							{{ form_end(form) }}
							<!-- END Contact FORM -->
						</div>

						<div class="col-lg-4 contact mt-sm-30 mt-xs-30">
							<div class="headeing pb-20">
								<h2>Contact Info</h2>
								<span class="b-line l-left line-h"></span>
							</div>
							<div class="contact-info">

								<ul class="info">
									<li>
										<i class="fa fa-map-marker"></i>
									<p>
										13005 Greenvile Avenue
										<span> California, TX 70240</span>
									</p>
									</li>

									<li>
										<i class="icon ion-android-call"></i>
										<p>
											200 256 265 000
										</p>
									</li>
									<li>
										<i class="icon ion-ios-email"></i>
										<p>
											Support@yourmail.com|
										</p>
									</li>
								</ul>
								<ul class="event-social">
									<li>
										<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
									</li>
									<li>
										<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
									</li>
									<li>
										<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
									</li>
									<li>
										<a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
									</li>
									<li>
										<a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
									</li>
									<li>
										<a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
									</li>
								</ul>
							</div>
						</div>

					</div>
				</div>
				<!-- Map Section -->

			</section>
			<!-- Map -->
			<section class="map-box">
				<div class="map">
					<div id="map"></div>
				</div>
			</section>
			<!-- Contact Section -->
			<!--End Contact-->
{% endblock %}
